 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


 :root {
    --verde-principal: #8eda7e;
   --verde-secundario: #c5ecbd;
    --cinza: #00000016;
    --preto: #000;
    --branco: #fff;
    --amarelo: #e3bc08;
    --fonte: 'Poppins', sans-serif;
 }
body, button {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  
}

::-webkit-scrollbar {
  width: 8px; 
}


::-webkit-scrollbar-thumb {
  background-color: var(--verde-principal); 
  border-radius: 6px; 
}


::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}





